.App {
  width: 80%;
  height: 100vh;
  align-items: baseline;
}
.btn-primary{
  border: none;
  background-color: inherit;
}
a{
  text-decoration: none;
  color:black
}
a:hover{
  color:none
}
.row {
  padding: 0 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container{
  border: 1px solid rgb(141, 139, 139);
  margin-top: 10px;
  padding: 5px;
  border-radius: 20px;
}
h6{
  padding: 10px;
}

.divider {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px grey solid;
  background-color:#248888;
  border-radius: 10px;
}